@import "./confing.scss";
@import "./utils.scss";

$black: rgb(0, 0, 0);
$gray: rgba(70, 79, 81);
$gray-light: rgb(96, 108, 110);

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: $black;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

// HELPERS

.error-msg.success {
  display: none;
}

.error-msg.error {
  display: inline-block;
}

.error-msg-third.success {
  display: none;
}

.error-msg-third.error {
  display: inline-block;
}

// HELPERS

.main-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Questions
.question-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
  opacity: 1;

  &.fade {
    opacity: 0;
  }
}

.question {
  z-index: 1;
  color: white;
}
// Questions

// ENTER SECTİON

.enter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;

  &__header {
    font-size: 3rem;
    margin: 0 2rem;
    font-weight: 500;
  }

  &__p {
    color: gray;
    width: 80%;
  }

  &__span {
    font-size: 0.7rem;
    margin-left: 1rem;
  }

  &__button {
    padding: 0.7rem 1.3rem;
    font-weight: 700;
    color: $gray-light;
  }

  &__svg-container {
    margin-top: 1rem;
  }
}

// QUESTİON SECTİON

.question-first {
  display: flex;

  justify-content: start;
  flex-direction: row;
  width: 45%;
}

//QUESTİON HEADER

.question-header {
  font-weight: 500;
  font-size: 2rem;
}

.question-number {
  display: flex;
  flex-direction: row;

  gap: 2px;
}

.form1 {
  width: 100%;
  margin-left: 20px;
}

.question-button {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: $gray-light;
}
//TEXT İNPUT

.text-input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(128, 125, 125);
  width: 100%;
  font-size: 1.8rem;
  color: white;
  font-weight: 300;

  &::placeholder {
    color: rgb(114, 113, 113);
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid rgb(240, 233, 233);
  }
}

// Buttons
.buttons {
  position: fixed;
  bottom: 10%;
  right: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    padding: 0.5rem 2rem;
    background-color: $gray;
    border: none;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    transition: all ease-in-out 0.1s;

    &:hover {
      box-shadow: 0px 0px 8px 0.5px rgba(158, 157, 157, 0.253);
      background-color: $gray-light;
    }

    .downwards {
      transform: rotate(180deg);
    }
  }
}

//DOODLE
.doodle-container {
  position: fixed;
  top: 5%;
  right: 5%;
}

.second-doodle-container {
  position: fixed;
  bottom: 5%;
  left: 10%;
}

//DOODLE
