@import "./confing.scss";
@import "./utils.scss";

$black: rgb(0, 0, 0);
$gray: rgba(70, 79, 81);
$gray-light: rgb(135, 142, 143);
$gray-super-light: rgba(63, 62, 62, 0.562);
$gray-super-light-hover: rgba(77, 75, 75, 0.767);

$transition: all ease-in-out 0.3s;
$transition-fast: all ease-in-out 0.1s;

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: $black;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

// HELPERS

.w-full {
  width: 100%;
}

.error-msg-first.success {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.error-msg-first.error {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.error-msg-second.success {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.error-msg-second.error {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.error-msg-third.success {
  opacity: 0;
  transition: all ease-in-out 0.3s;
  margin-top: 1rem;
}

.error-msg-third.error {
  opacity: 1;
  transition: all ease-in-out 0.3s;
  margin-top: 1rem;
}

.error-msg-fourth.success {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.error-msg-fourth.error {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.error-msg-fifth.success {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.error-msg-fifth.error {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

.error-msg {
  background-color: white;
  color: black;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-weight: 400;
  font-size: 0.8rem;
  width: 50%;
  display: inline-block;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

//OK SECTİON

.ok-section {
  transition: all ease-in-out 0.1s;
}

.ok-section.error {
  opacity: 0;
  transition: all ease-in-out 0.1s;
}

.ok-section.success {
  opacity: 1;
  transition: all ease-in-out 0.1s;
}

// HELPERS

.main-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Questions
.question-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
  opacity: 1;

  &.fade {
    opacity: 0;
  }
}

.question {
  z-index: 1;
  color: white;
}
// Questions

// ENTER SECTİON

.enter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;

  &__header {
    font-size: 3rem;
    margin: 0 2rem;
    font-weight: 500;
  }

  &__p {
    color: gray;
    width: 80%;
  }

  &__span {
    font-size: 0.7rem;
    margin-left: 1rem;
  }

  &__button {
    padding: 0.7rem 1.3rem;
    font-weight: 700;
    color: $gray-light;
  }

  &__svg-container {
    margin-top: 1rem;
  }
}

// QUESTİON SECTİON

.question-first {
  display: flex;

  justify-content: start;
  flex-direction: row;
  width: 60%;
  max-width: 750px;
}

//QUESTİON HEADER

.question-header {
  font-weight: 500;
  font-size: 2rem;
}

.question-header.secondary {
  margin-bottom: 0;
}

.question-number {
  display: flex;
  flex-direction: row;

  gap: 2px;
}

.form1 {
  width: 100%;
  margin-left: 20px;
}

.question-button {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: $gray-light;
}
//TEXT İNPUT

.text-input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(128, 125, 125);
  width: 100%;
  font-size: 1.8rem;
  color: white;
  font-weight: 200;

  &::placeholder {
    color: rgb(114, 113, 113);
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid rgb(240, 233, 233);
  }
}

// SECONDARY TEXT

.secondary-text {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: $gray-light;
  font-weight: 300;
}

// CHECKBOX

.labels-hover {
  width: 100%;
  background-color: $gray-super-light;
  transition: $transition-fast;

  .labels-container {
    border: $gray-light 0.2px solid;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    padding: 2px;

    .label {
      width: 90%;
      align-items: center;
      display: inline-flex;
      justify-content: space-between;
      background-color: transparent;
      height: 100%;

      :hover {
        background-color: transparent;
      }
    }
  }

  :hover {
    background-color: $gray-super-light-hover;
    transition: $transition-fast;
  }
}

.checkbox {
  -webkit-appearance: none;
  display: inline-block;
}

.checkbox:checked:after {
  content: "\2713";
  font-size: 17px;
  color: #99a1a7;
}

.checkbox-choice {
  padding: 2.5px 5px;
  background-color: black;
  border: white 0.2px solid;
  border-radius: 2px;
  display: inline-block;
  margin: 6px 5px;
  font-size: 12px;
}

.choices {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
// CHECKBOX

//PROGRESS BAR

.progress-bar-inner {
  background-color: white;
  width: 0%;
  padding: 2px;
  transition: all ease-out 0.1s;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $gray-super-light;
  opacity: 0;
  transition: all ease-out 0.1s;
}

//PROGRESS BAR

// Buttons
.buttons {
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    padding: 0.5rem 2rem;
    background-color: $gray;
    border: none;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    transition: all ease-in-out 0.1s;

    &:hover {
      box-shadow: 0px 0px 8px 0.5px rgba(158, 157, 157, 0.253);
      background-color: $gray-light;
    }

    .downwards {
      transform: rotate(180deg);
    }
  }
}

// Buttons

//DOODLE
.doodle-container {
  position: fixed;
  top: 5%;
  right: 5%;
}

.second-doodle-container {
  position: fixed;
  bottom: 5%;
  left: 10%;
}

//DOODLE

// ANİMATİONS
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

//ANİMATİONS
