.flex-helper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-helper-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
